body {
	background-color: rgb(246, 246, 246);
}

.container {
	margin: 40px auto;
	width: 100%;
	max-width: 650px;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-radius: 8px;
}
.colorTheme {
	margin: 5px;
	overflow: hidden;
	width: 90%;
}

.color {
	width: 100%;
	height: 500px;
	background-color: white;
}
.color-palette {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.colors-div {
	display: flex;
	width: 100%;
	justify-content: center;
}
p {
	text-align: center;
	font-size: 14px;
}

.main {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main .colors {
	padding: 4px 8px;
	font-size: 14px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.main button {
	padding: 7px 10px;
	margin: 15px 0;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	background-color: white;
	font-size: 14px;
}
